hr{
    width: 32%;
    height: 50px;
    border: 5px;
    border-style: dsotted none none none ;
    border-color: rgb(222, 158, 158);
    border-width: 30%;
}
.R{

    color: #A0D8B3;
    font-size: 25px;
    margin: 30px;
}
td li{
    color:#A0D8B3 ;
    font-size: 30px;
    margin: 10px;
}
h3{
    color: pink;
    font-size:30px ;

}
.S{
    color:#FFABAB;
    font-size:25px;
    margin: 10px;
}
a:hover{
    color: #FFABAB;
}
td a{
    color: #BACDDB;
    font-size: 30px;
}
p em{
    color: aquamarine;
    font-size: 30px; 
}
.W{
    color: #FFABAB;
    font-size: 40PX;
    padding: 20px;
}